*.py[cod]
__pycache__

# C extensions and cython compiled files
*.so
pyquant/*.c

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Pycharm/Intellij
.idea

# Git conflicts
*.orig

# Jupyter notebooks
*.ipynb_checkpoints

# Test data
data/*
pq_tests/*
pq_manual/*
tests/pq_tests/*
